/* RESET */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    /* Cancel out some differences between browser defaults */
    margin: 0;
    padding: 0;
    border: 0;
}
 /* Styles for screens smaller than 600px */
@media (max-width: 600px) {
	/* CSS rules here */
  }
  
  /* Styles for screens between 601px and 1024px */
  @media (min-width: 601px) and (max-width: 1024px) {
	/* CSS rules here */
  }
  
  /* Styles for screens larger than 1024px */
  @media (min-width: 1025px) {
	/* CSS rules here */
  }
  

/* == END RESET =========================================== */


body{
	background-color: White;
	font-family: 'Roboto', sans-serif;
	margin-left: 10px;
	margin-right: 10px;
}

h1{
	color:#fcfbfb;
}
h2,h3{
	color:Blue;
	font-size: 20px;
	font-family: "Times New Roman", serif;
	
}

header{
	display: flex;
	background-color: black;
	height: 180px;
}
#mainandaside{
	display: flex;
}
main{
	margin-bottom: 5px;
	margin-top: 5px;
	width: 70%;
	height: 650px;
}
#mainfig{
	display: flex;
	height: 100%;
	width: auto;
}
#mainfig>img{
	width: 100%;
}
#navbar{
	
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
header>figure{
	display: flex;
	width: 23%;
	height: 100%;
	justify-content: center;
	align-items: center;
	
}
ul{ 
	color: black;
	display:flex;
	justify-content: space-evenly;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 100px;
	font-size: 20px;
	list-style-type: none;
	padding: 30px;
	width: 100%;
	align-items: flex-end;
}
#cartid{
	padding-left: 150px;
	padding-right: -10%;
}
a{
	color: white;
	text-decoration: none;
	font-size: 22px;
}

aside{
	display: flex;
	width: 30%;
	height: 650px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	flex-direction: column;
	align-items: center;
	background-color: black;

}
#h1{
	display: flex;
	align-items: center;
	height: 90px;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 15px;
	
}
#divp{
	display: flex;
	align-items: center;
	height: 310px;
	margin-right: 10px;
	margin-left: 10px;
	
}
#h4aside{
	color:rgb(243, 243, 246);
	font-size: 28px;
	font-family: "Times New Roman", serif;
}
/*footer*/
footer {
	display:flex;
	flex-direction: column;
	align-items:flex-end;
	height: 330px; 
	background-color: #e6e6e6;
	margin-bottom: 10px;
}
#footerdiv>figure{
	display: flex;
	width: 20%;
	height: 100%;
	margin-top: 5px;
	margin-left: 0%;
}
#footerdiv{
	display: flex;
	justify-content: space-evenly;
	margin-left: 15px;
	width: 100%;
	height: 100%;
}
#footerdiv>figure>img{
	width: 100%;
	height: 100%;
} 

#footerdetails{
	display: flex;
	justify-content: space-around;
	width: 80%;
}
#footerdetails>div{
	display: flex;
	flex-direction: column;
	align-items: center;	
	margin-top: 20px;
	margin-bottom: 10px;
	width: 300px;
	height: 250px;
}
.pp{
	font-size: 100px;
}
#navtest>a{
	font-size: 20px;
}
#div1{
	display:flex;
	flex-direction:column;
	height:100%;
	margin-top: 14px;
}
#div1>p{
	font-size: 20px;
	color: #000;
}
#div1>a{
	font-size:20px;
	color: #000;
}
.pp>p{
	font-size: 30px;
}
#div2{
	display:flex;
	flex-direction:column;
	height:100%;
	text-align:center;
}
#div2>p{
	font-size:20px;
	margin-top: 15px;
	width: 180px;
}
#div3{
	display:flex;
	flex-direction:column;
	height:100%;
	width: 200px;
	text-align:center;
}
#div3>p{
	font-size: 20px;
	margin-top:15px;
	width: 200px;
	
}
#copyrights{
	display:flex;
	margin-bottom:20px;
	margin-right: 10px;
	width: 100%;
	justify-content: flex-end;
}
#copyrights>p{
	font-size:20px;
	margin-left:20px;
}
#copyrights>a{
	color: #000;
	font-size: 20px;
}
hr{
	width: 200px;
	height: 2px;
	background-color: black;
	color: rgb(0, 0, 0);
}

section{
	display: flex;
	margin-bottom: 10px;
	height: 350px;
	justify-content: space-around;
	align-items: center;
	background-color: #e6e6e6;
}
figcaption{
	height: 20px;
	width: 100%;
	justify-content: space-around;
	align-content: center;
}
figcaption>p{
	margin-bottom: 5px;
	font-size: 16px;
}
figcaption>a{
	color: #000;
	font-size: 16px;
	margin-bottom: 5px;
}
.secdiv{
	width: 200px;
	height: 300px;
}

.figure{
	display: flex;
	height: 250px;
	width: 200px;
	align-items: stretch;
	margin-bottom: 10px;
	background-color: green;
}
.figure>img{
	width: 100%;
}
/* about us page css */

#mainabout{
	display: flex;
	background: url(Images/Winestorage.jpg);
	background-blend-mode: darken;
	background-size: 100%;
	width: 100%;
	height: 850px;
	justify-content: center;
	text-align: center;
}
#figh1{
	position: absolute;
	top: 40%;
	width: 400px;
	height: 60px;
	text-shadow: 3px 3px #000;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.95);
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.95);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.95);
}
#figdivh4{
	background-color: rgba(5, 5, 5, 0.5) ;
	position: absolute;
	top: 50%;
	width: 900px;
	height: 450px;
	
}
#figdivh4>h4{
	font-size: 21px;
	text-align: left;
	color: #fcfbfb;
	text-shadow: 2px 2px #000;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: justify;
}
h4{
	color: black;
	font-size: 35px;
	
}
#aboutsec{
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 550px;
	align-items: center;
	background: url(Images/Winecave.jpg);
	background-size: 100%;
	background-position: center;
}
#divsec{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 950px;
	height: 350px;
	background-color:rgba(5, 5, 5, 0.5);
	
}
#divsec>h4{
	font-size: 25px;
	color: white;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}
.click-button {
	background-color: rgba(5, 5, 5, 0.5);
	color: white;
	padding: 10px 20px;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 4px;
	text-decoration: underline;
}
  
/* Place holder style */
#placeholdermain{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 850px;
}
#placeholderfig{
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	
	background-size: 100%;
}
#placeholderfin>img{
	width: 100%;
}
#placeholderh1{
	position: absolute;
	font-size: xxx-large;
	color: black;
	top: 45%;
}